db.saveentry.from=activemq:queue:gbsDbTranslator.saveStoreRequest
om.saveentry.rep.to=activemq:queue:gbsOrderManager.saveReply
db.enrichmentreq.from=activemq:queue:gbsDbTranslator.enrichmentRequest
om.enrichmentresp.to=activemq:queue:gbsOrderManager.enrichmentResponse
db.savesupplier.reqrep=activemq:queue:gbsDbTranslator.saveSupplierOrder

db.saveordernumber.req=activemq:queue:gbsDBTranslator.saveOrderNumber

#active mq access properties
brokerURL = tcp://192.168.1.110:61616
userName = admin
password = admin