supa.trans.from=activemq:queue:gbsSupplierATranslator.sendSupA.req
spa.suporder.to=restlet:http://localhost:8080/suppliera/order/request?restletMethod=post
direct.save.number=direct:saveOrderNumber
sptrans.db.to=activemq:queue:gbsDBTranslator.saveOrderNumber

supplierTransf=xquery:process/supplierATransf.xq

#active mq access properties
brokerURL = tcp://localhost:61616
userName = admin
password = admin