<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder location="classpath:META-INF/conf/com.supplier.supplierc.cfg" />
	
	<!-- this is the Message Driven POJO (MDP) -->
	<bean id="messageListener" class="com.supplier.supplierc.listener.JmsMessageListener" />

	<!-- =============================================== -->
	<!-- JMS Common，Define JMS connection Factory -->
	<!-- =============================================== -->
	<!-- Activemq connection factory -->
	<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<!-- brokerURL -->
		<constructor-arg index="0" value="tcp://127.0.0.1:61616" />
	</bean>

	<!-- Pooled Spring connection factory -->
	<bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="amqConnectionFactory" />
	</bean>

	<!-- ============================================================= -->
	<!-- JMS receive. -->
	<!-- Define MessageListenerAdapter and MessageListenerContainer -->
	<!-- ============================================================= -->
	<bean id="messageListenerAdapter"
		class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="messageListener" />
	</bean>


	<bean id="listenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="concurrentConsumers" value="5" />
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destinationName" value="${destination}" />
		<property name="messageListener" ref="messageListenerAdapter" />
	</bean>

</beans> 